# Used by docker-compose.yml
POSTGRES_USER=crm
POSTGRES_PASSWORD=crm_dev_password
POSTGRES_DB=indiamart_crm
POSTGRES_PORT=5433

N8N_HOST=localhost
N8N_PORT=5678
N8N_WEBHOOK_URL=http://localhost:5678/
TZ=Asia/Kolkata
